@model PokemonMarket.ViewModels.PurchaseViewModel
@{
    ViewBag.Title = "Форма заказа покемона";
}
@using (Html.BeginForm("Create", "Purchase", FormMethod.Post, new { @class = "send-purchase-form" }))
{
    <fieldset>
        <legend>Форма заказа покемона</legend>
        @Html.ValidationSummary()

        <div class="input-group col-xs-12">
            <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1"></span>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-lg", required = "required", placeholder = @Html.DisplayNameFor(m => m.Name) })
        </div>

        <div class="input-group col-xs-12">
            <span class="input-group-addon glyphicon glyphicon-envelope" id="basic-addon1"></span>
            @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "form-control input-lg", required = "required", placeholder = @Html.DisplayNameFor(m => m.Email) })
        </div>

        <div class="input-group col-xs-12">
            <span class="input-group-addon glyphicon glyphicon-phone-alt" id="basic-addon1"></span>
            @Html.TextBoxFor(m => m.Phone, new { @type = "phone", @class = "form-control input-lg", required = "required", placeholder = @Html.DisplayNameFor(m => m.Phone) })
        </div>

        <input type="submit" class="btn btn-primary col-xs-12" value="Заказать покемона" />
    </fieldset>
}
